body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: #E0F2E9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    input, button, p {
        font-size: 14px;
    }
}